@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0f172a;
    --foreground: #e5e7eb;
}

/*body {*/
/*    font-family: "Roboto Mono", serif;*/
/*    color: var(--foreground);*/
/*    background: radial-gradient(circle at top, #073e3b 0, #020617 55%);*/
/*}*/